data/movies-min.json
data/movies-min-old.json
data/oscars-min.json
data/oscars-min-old.json
venv
.git
.gitignore
__pycache__
*.pyc
*.pyo
.env.local
.DS_Store
node_modules
.pytest_cache
.venv
*.egg-info
.idea
.vscode
